.fragment5 .sl {
  margin-top: 1.5rem;
  margin-bottom: 3.2rem;
}

.fragment5 .tl {
  margin-bottom: 8rem;
}

.fragment5 .button-grn {
  text-align: center;
  padding: 1.5rem 4rem;
  outline: none;
  border-radius: 0;
  border: 0;
  background: #a1b29f;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
}

.fragment5 .links {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
  align-self: flex-end;
  margin-right: 8rem;
  width: 20%;
  justify-content: space-between;
}

.fragment5 .links .link {
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.5rem;
  border-radius: 100%;
  border: 1px solid black;
  cursor: pointer;
}

.fragment5 {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.fragment5 .service {
  display: flex;
  flex-direction: row;
}

.fragment5 .right {
  padding-left: 3rem;
  padding-top: 7rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.fragment5 .left {
  width: 50%;
}

.fragment5 .left .img-b {
  height: 100%;
  width: 100%;
}
